/* header{
    text-align: center;
} */
/* .formstyle{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    font-weight: thin 100;
    text-align: left; 
} */
.hikelistcontainer{
    margin-bottom: 1%;
}
/* .footstyle{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    font-weight:    thin 100;
    color: #A72A32;
    text-align: center;
    background-color:#282932;
    margin-top: 30%;
}
.newFont {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 40px;
} */